includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 7
    paths:
        - .
    excludes_analyse:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/EventSubscriber/AutoLoginSubscriber.php
        - %currentWorkingDirectory%/Middleware/EventMiddleware.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/Application/AppKernel.php
        - %currentWorkingDirectory%/Tests/Application/cache/*
        - %currentWorkingDirectory%/Tests/Application/var/*
        - %currentWorkingDirectory%/Tests/var/*
        - %currentWorkingDirectory%/Tests/Unit/EventSubscriber/ProductViewSerializerSubscriberTest.php
    symfony:
        container_xml_path: %rootDir%/../../../Tests/Application/var/cache/admin/dev/Sulu_Bundle_SyliusConsumerBundle_Tests_Application_KernelDevDebugContainer.xml
