.media-item-container {
    align-items: center;
    display: flex;
    height: 100%;
}

.media-item {
    align-items: center;
    display: flex;
    height: 100%;
    flex-grow: 1;

    .thumbnail-image {
        display: block;
        width: 25px;
        height: 25px;
    }

    .media-title {
        margin-left: 15px;
    }
}

.buttons {
    display: flex;
    height: 100%;

    .button {
        border: 0;
        padding: 0 10px;
        cursor: pointer;
        background-color: transparent;
    }
}